{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="page-header">Create a task</h2>
        {{form_start(form_twig)}}
        {{form_widget(form_twig)}}
        {{form_end(form_twig)}}
{% endblock %}